syntax: glob
# generic
*.pyc
*.swp
*.swo
.DS_Store
ckan.egg-info/*
sandbox/*
dist
.mypy_cache
.eggs/*

# pylons
development.ini*
sstore/*
data/*
pylons_data/*
#ckan/i18n/*/*/*.mo

# other
pip-requirements-local.txt
migrate/*
build/*
tmp/*
solr_runtime/*
fl_notes.txt
*.ini
!ckan/migration/alembic.ini
.noseids
*~
.idea
.vscode

# custom style
ckan/public/base/less/custom.less

# nosetest coverage output
.coverage
htmlcov/*

# CKAN
ckan.log
ckan_deb/DEBIAN/control
ckan_deb/DEBIAN/prerm

# node.js
node_modules/

# docker
contrib/docker/.env
cypress.env.json

# cypress
cypress/videos

#testing
junit
.coverage*
.cache
.bash_history
.gitconfig
.npm
.test_durations

#[custom]
default/bin/
default/include/

!default/lib/
default/lib/*
!default/lib/python3.12/
default/lib/python3.12/*
!default/lib/python3.12/site-packages
default/lib/python3.12/site-packages/*

#except ckan
!default/lib/python3.12/site-packages/ckan/
default/lib/python3.12/site-packages/ckan/__pycache__
!default/lib/python3.12/site-packages/ckan/*

#except dominate package
!default/lib/python3.12/site-packages/dominate/
default/lib/python3.12/site-packages/dominate/__pycache__
!default/lib/python3.12/site-packages/dominate/*